.ez_container {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  background-color: var(--tblr-bg-surface-secondary);
  border-radius: 10px;
}

.ez_search {
  width: 320px;
  padding: 15px 10px;
  margin-bottom: 10px;
  background: var(--tblr-bg-surface-secondary);
  border: var(--tblr-border-width) solid var(--tblr-border-color);
  border-radius: 10px;
  font-size: 15px;
  font-family: var(--tblr-font-sans-serif);
  color: var(--tblr-body-color);
  outline: none;
}

.ez_search::placeholder {
  color: var(--tblr-secondary);
}

.ez_icon {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tblr-card-bg);
  transition: background-color 0.2s ease;
}

.ez_icon i {
  font-size: 25px;
  color: var(--tblr-secondary);
}

.ez_icon:hover {
  background-color: var(--tblr-bg-surface-tertiary);
  cursor: pointer;
}

.ez_icon.ez_active {
  background-color: var(--tblr-primary);
}

.ez_icon.ez_active i {
  color: #fff;
}

.ez_footer {
  width: 320px !important;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: var(--tblr-font-sans-serif);
  color: var(--tblr-body-color);
}

.ez_next,
.ez_prev {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background: var(--tblr-primary);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ez_prev:disabled {
  background-color: var(--tblr-bg-surface-secondary);
  color: var(--tblr-secondary);
  cursor: not-allowed;
}

.ez_no_results {
  width: 300px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--tblr-font-sans-serif);
  color: var(--tblr-body-color);
}

.ez_no_results_icon {
  font-size: 40px;
  margin: 0;
}

.ez_main {
  max-width: 320px !important;
}
